.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    padding: 100px 15px 0px 15px;
    background-color: #f4f6fc;
    color: #213547;
    font-family: 'Ubuntu', sans-serif;
}

.form {
    display: flex;
    flex-direction: column; 
    padding-top: 50px;
}

.user-info {
    height: 50px;
    margin-top: 15px;
    min-width: 250px ;
    padding-left: 10px;
    font-size: 1rem;
    background-color: white;
    border: #213547 1px solid;
    color: #213547;
}

.message-info {
    height: 100px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-size: 1rem;
    background-color: white;
    border: #213547 1px solid;
    color: #213547;
}

.button-message {
    margin-top: 15px;
    font-size: 1.1rem;
    border: #720481 3px solid;
    background-color: #720481;
    color: white;
    

}

::placeholder {
    color: #213547;
}

@media (min-width: 760px) {

    .form-container{
        padding-top: 150px;
    }

    .form-container h2 {
        font-size: 2rem;
    }

    .button-message{
        margin-bottom: 50px;
    }
}


@media (min-width: 1024px) {
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 85vh;  
        padding: 150px 15px 0px 0px;
    }
}

@media (min-width: 1440px){

    .form-container {
        padding: 150px 15px 50px 0px;
    }
}
