.about-container{
    min-width: 250px;
    padding-left: 15px;
    min-height: 85vh;
    background-color: #f4f6fc;
    color: #213547;
    padding-bottom: 120px;
   
    
}

.about-container h2 {
    padding-top: 130px;
    
    
}

.about-text-container{
    margin-top: 75px;
    font-weight: 400;
}

.about-container p {
    margin-top: 15px;
    font-size: 1.3rem;
}


@media (min-width: 760px) {

.about-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-container h2 {
    font-size: 2rem;
}



.about-container p {
    max-width: 650px;
    font-size: 1.5rem;
    margin-top: 24px;
}
}


@media (min-width: 1024px) {

    .about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

    }
    
    .about-text-container{
        margin-top: 20px;
    }
    
    .about-container h2 {
        padding-top: 50px;
    }

    .about-container p {
        max-width: 700px;
        font-size: 1.6rem;
        margin-top: 24px;
    }
}
