.about-container{
    min-width: 250px;
    margin-top: 100px;
    margin-left: 15px;
    height: 65vh;
}

.about-text-container{
    margin-top: 75px;
}

.about-container p {
    margin-top: 15px;
    font-size: 1.3rem;
}


@media (min-width: 760px) {

.about-container {
    margin-top: 150px;
}

.about-container h2 {
    font-size: 2rem;
}



.about-container p {
    max-width: 650px;
    font-size: 1.5rem;
    margin-top: 24px;
}
}


@media (min-width: 1024px) {

    .about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    min-height: 85vh;  

    }
    
    .about-text-container{
        margin-top: 20px;
    }
    

    .about-container p {
        max-width: 700px;
        font-size: 1.6rem;
        margin-top: 24px;
    }
}
