.projects{
    padding-top: 120px;
    padding-bottom: 100px;
    padding-left: 10px;
    background-color: white;
    color: #213547;

}

.projects h2{
    font-family: 'Ubuntu', sans-serif;
}


.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 90%;
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 4px 0 rgb(0 0 0 / 12%);  
    border-radius: 15px;
    padding: 10px 5px;
    margin-top: 50px;
    margin-left: 5px;
    background-color: white;
    
}

.project-container h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 15px;
}

.project-container p {

    padding: 10px;
    line-height: 1.5;
}

.item-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 90%;
    height: 390px;
    border-radius: 15px;
    background-size: cover;   
}


.item-project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 15px;   
}



.item-description {
    margin-top: 25px;
}

.item-skill {
    margin-top: 25px;
    margin-bottom: 45px;
}

.item-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.item-info h3 {
    margin-top: 10px;
    font-size: 1.3rem;
}

.item-info p {
    font-size: 1.2rem;
}

@media (min-width: 760px) {
    .projects{
        padding-top: 150px;
        display: flex;
    }

    .projects h2 {
        font-size: 2rem;
    }

    .project-container {
        height: 400px;
        width: 80%;
        margin-top: 100px;
    }

    .item-project {
        width: 90%;
        height: 270px;
        border-radius: 15px;
        background-size: cover;   
    }

}

@media (min-width: 1024px) {

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;   
        padding-top: 160px;
    }

    .projects h2 {
        margin-top: 30px;
        margin-bottom: 55px;
    }

    .project-container {
        height: 450px;
        width: 35vw;
        padding: 20px 5px;
        margin: 10px;
        margin-left: 150px;
    }
    
    .projects-row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    

    .item-project {
        width: 90%;
        height: 500px;
    }

    .item-project-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 100%;
        width: 100%;
        opacity: 0;
        border-radius: 15px;   
    }

    .item-info {
        margin: 20px;
    }
}
